body {
	background-color: rgb(8, 45, 70);
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	margin: 50px 0 10px 0;
}

.outDate {
	color: rgb(212, 212, 212);
	;
	font: 400 18px Arial, Helvetica, sans-serif;
	display: inline-block;
	margin: 0 0 0 25px;
}

.end {
	margin: 0 0 15px 0;
}

.start h4,
.end h4 {
	display: inline-block;
	margin: 10px 5px;
	color: rgb(212, 212, 212);
	font-family: Arial, Helvetica, sans-serif;
	;
}

.end h4 {
	margin: 0 11px 0 4px;
}

.startDate,
.endDate {
	width: 70px;
	height: 20px;
	border: none;
	border-radius: 4px;
}

.dts-btn {
	font: 400 15px Arial, Helvetica, sans-serif;
	height: 30px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.dts-out {
	font: 400 18px Arial, Helvetica, sans-serif;
	color: #fff;
	display: inline-block;
	margin: 0 0 0 30px;
}